* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #fefefe;
    color: #333;
    font-size: 62.5%;
}

.header {
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    font-size: 17px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-link a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    margin: 0 25px;
    text-align: center;
}



@media (max-width: 740px) {
    .nav-links a {
        margin-left: 10px;
        margin-right: 10px;
        gap: 0;
    }
    .header {
        font-size: 0.8rem;
        padding: 20px 10px;
    }
}
@media (min-width: 741px) and (max-width: 1113px) {
    .nav-links a {
        gap: 5px;
        margin-left: 20px;
    }
    .header {
        padding: 20px 10%;
    }

}