.project {
    width: 100%;
}
.page-title {
    font-size: 36px;
    font-weight: bold;
}

.project-image {
    width: 100%;
}

.project-placeholder {
    background-image: url('../../assets/Projects/QLSTK/QLSTK.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
}
.category-containe {
    width: 100%;
}
.category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f9f9f9;
    padding: 20px 0;
}

.img {
    width: 100%;
}


.category-title>h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.project-content {
    padding: 0 15%;
}

.project-title {
    font-weight: bolder;
    font-size: 36px;
}

.project-description {
    font-size: 20px;
}

@media (max-width: 740px) {
    .project-placeholder {
        height: 200px;
    }

    .category-title>h1 {
        font-weight: bold;
        font-size: 16px;
        margin: 0;
    }
}

@media (max-width: 1113px) and (min-width: 741px) {
    .project-placeholder {
        height: 300px;
    }
}